body {
    background-color: palevioletred;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
article{
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
    animation: blink 1s infinite;

}
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
}
}