.principal {
    height: 600px;
    background: red;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid#000;
  }
  
  .article {
    height: 650px;
    width: 200px;
    background: red;
    
  }
  
  .medio {
    height: 600px;
    width: 200px;
    background: white;
  }